<div>
  <div class="container">
      <form *ngIf=tmp>
          <h1 class="main-header"> Login Page</h1>
          <div class="mb-3">
              <label class="form-label">User Name </label>
              <input type="text" name="uname" class="form-control" [(ngModel)]="uname">
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="pwd" class="form-control" [(ngModel)]="pwd">
          </div><br>

          <button type="submit" class="btn btn-primary" (click)="function1()">Submit</button><br>

          <h5>If not registered <a href="" (click)="tmp=false">Click here</a></h5>


      </form>


      <form *ngIf=!tmp>
          <h1 class="main-header"> Registration Page</h1>
          <div class="mb-3">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control">
          </div>
          <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control">
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
          </div>
          <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="Confirm-password">
          </div><br>

          <button type="submit" class="btn btn-primary">Register</button><br>
          <div>
              <h5>Go back to <a href="">Login Page</a></h5>
          </div>

      </form>
  </div>

</div>